<table class="table">
  <thead>
    <tr>
      <th>Prva</th>
      <th>ime1</th>
      <th>ime2</th>
      <th>ime3</th>
      <th>ime4</th>
      <th>ime5</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of $dataItems | async">
      <ng-container [ngSwitch]="item['prva']">
        <tr *ngSwitchCase="'sinisa'">
          <td colspan='2'></td>
          <td>{{item.a}}+{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
        </tr>
        <tr *ngSwitchCase="'strahinja'">
          <td style="border-bottom: 1px solid black"></td>
          <td style="border-bottom: 1px solid black">{{item.a}}</td>
          <td style="border-bottom: 1px solid black">{{item.b}}</td>
          <td style="border-bottom: 1px solid black">{{item.c}}</td>
          <td style="border-bottom: 1px solid black">{{item.d}}</td>
          <td style="border-bottom: 1px solid black">{{item.e}}</td>
        </tr>
        <tr *ngSwitchCase="'nesa'">
          <td></td>
          <td style="border-bottom: 1px solid black">{{item.a}}</td>
          <td colspan="3" style="border-bottom: 1px solid black">{{item.b}}</td>
          <!-- <td style="border-bottom: 1px solid black">{{item.c}}</td> -->
          <!-- <td style="border-bottom: 1px solid black">{{item.d}}</td> -->
          <td style="border-bottom: 1px solid black">{{item.e}}</td>
        </tr>
        <tr *ngSwitchDefault>
          <td></td>
          <td>{{item.a}}</td>
          <td>{{item.b}}</td>
          <td>{{item.c}}</td>
          <td>{{item.d}}</td>
          <td>{{item.e}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<!-- <div [ngSwitch]="'prva'" style="background-color: black;">
    <p *ngSwitchCase="'prva'">
    1
    </p>
    <p *ngSwitchCase="druga">
    2
    </p>
    <p *ngSwitchDefault>
    3
    </p>
</div> -->